/* 全フォント変更 */
body,
table,
div,
p,
dl {
    font-family: 'Noto Sans', sans-serif;
}

/* 
    定義タイトル

    - マクロ定義
    - 列挙型
    - 関数
    などのタイトル文字列
*/
h2.groupheader {
    font-size: 130%
}

.memberdecls td,
.fieldtable tr {
    /* font-size: 100%; */
    /* line-height: 100%; */
}

.mdescLeft,
.mdescRight {
    padding: 0px 8px 0px 8px;
}

/*
    ミニタイトル

    関数名、変数名の見出し文字列
*/
.memtitle {
    font-size: 110%;
    line-height: 110%;
    margin-top: 0px;
    padding: 4px 8px 4px 8px;
}

/*
    ミニタイトル下のオブジェクト名
*/
.memproto,
dl.reflist dt {
    padding: 1px 0px 1px 0px;
}

/* 本文 */
p {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}